# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
.venv/

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data & outputs

*.log
*.ckpt
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# Misc
.cache/